In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import itertools

In [2]:
data = yf.download('SBIN.NS', start='2019-01-01', end='2023-01-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
data['200MA'] = data['Adj Close'].rolling(200).mean()

In [9]:
data['distance'] = data['Adj Close'] - data['200MA']

In [5]:
'''min_close_50_day = data.iloc[-50:-1,4].min()
max_close_50_day = data.iloc[-50:-1,4].max()'''

'min_close_50_day = data.iloc[-50:-1,4].min()\nmax_close_50_day = data.iloc[-50:-1,4].max()'

In [11]:
len(data)

990

In [6]:
#data['norms'] = np.zeros(len(data))

In [35]:
norm = []

In [36]:
for i in range(len(data)):
    norm.append( (data.iloc[i,4] - data.iloc[i-50+1:i+1,4].min())/(data.iloc[i-50+1:i+1,4].max() - data.iloc[i-50+1:i+1,4].min()) )

In [37]:
data.norms = norm

In [39]:
data.norms = data.norms * 100

In [28]:
'''for i in range(len(data)):
    print(data.iloc[i,4], data.iloc[i-50+1:i+1,4].min(), data.iloc[i-50+1:i+1,4].max())
    print( (data.iloc[i,4] - data.iloc[i-50+1:i+1,4].min())/(data.iloc[i-50+1:i+1,4].max() - data.iloc[i-50+1:i+1,4].min()) )
    if i ==60:
        break'''

'for i in range(len(data)):\n    print(data.iloc[i,4], data.iloc[i-50+1:i+1,4].min(), data.iloc[i-50+1:i+1,4].max())\n    print( (data.iloc[i,4] - data.iloc[i-50+1:i+1,4].min())/(data.iloc[i-50+1:i+1,4].max() - data.iloc[i-50+1:i+1,4].min()) )\n    if i ==60:\n        break'

In [ ]:
(data['Adj Close'] - )/(max_close_50_day - min_close_50_day)

In [42]:
data = data.loc[:,['Adj Close', '200MA', 'distance', 'norms']]

In [43]:
data

             Adj Close       200MA   distance      norms
Date
2019-01-01  292.297607         NaN        NaN        NaN
2019-01-02  286.736511         NaN        NaN        NaN
2019-01-03  284.004791         NaN        NaN        NaN
2019-01-04  290.395111         NaN        NaN        NaN
2019-01-07  289.078033         NaN        NaN        NaN
...                ...         ...        ...        ...
2022-12-26  597.099976  521.707131  75.392845  71.108822
2022-12-27  601.900024  522.548960  79.351065  71.166790
2022-12-28  601.049988  523.330415  77.719573  66.088737
2022-12-29  611.799988  524.081925  87.718062  80.998590
2022-12-30  613.700012  524.834813  88.865199  83.166916

[990 rows x 4 columns]

In [49]:
data.shift(periods=4)

             Adj Close       200MA   distance      norms
Date
2019-01-01         NaN         NaN        NaN        NaN
2019-01-02         NaN         NaN        NaN        NaN
2019-01-03         NaN         NaN        NaN        NaN
2019-01-04         NaN         NaN        NaN        NaN
2019-01-07  292.297607         NaN        NaN        NaN
...                ...         ...        ...        ...
2022-12-26  604.450012  518.995461  85.454551  79.769351
2022-12-27  593.400024  519.627648  73.772376  69.149467
2022-12-28  593.400024  520.293560  73.106465  69.149467
2022-12-29  574.000000  520.889302  53.110698  50.504559
2022-12-30  597.099976  521.707131  75.392845  71.108822

[990 rows x 4 columns]

In [44]:
data['buy_signal'] = 1 if data.norms < 100 and data.shift(periods=1).norms

C:\Users\singh\AppData\Local\Temp\ipykernel_48480\2198688590.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.buy_signal = np.zeros(len(data))

In [45]:
data

             Adj Close       200MA   distance      norms
Date
2019-01-01  292.297607         NaN        NaN        NaN
2019-01-02  286.736511         NaN        NaN        NaN
2019-01-03  284.004791         NaN        NaN        NaN
2019-01-04  290.395111         NaN        NaN        NaN
2019-01-07  289.078033         NaN        NaN        NaN
...                ...         ...        ...        ...
2022-12-26  597.099976  521.707131  75.392845  71.108822
2022-12-27  601.900024  522.548960  79.351065  71.166790
2022-12-28  601.049988  523.330415  77.719573  66.088737
2022-12-29  611.799988  524.081925  87.718062  80.998590
2022-12-30  613.700012  524.834813  88.865199  83.166916

[990 rows x 4 columns]

In [2]:
sl = [0.05, 0.08, 0.1, 0.12, 0.15]
prof = np.arange(0.05,0.30, 0.03)
i = 0
for sl_val, prof_val in itertools.product(sl,prof):
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45